@using Bitirme.Models
@model List<Maliyet>

@{
    ViewBag.Title = "Index";
}


<table id="mytbl" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Gider </th>
            <th scope="col">Kaynak Maliyet Etken </th>
            <th scope="col">Faaliyet </th>

            <th scope="col">Onay </th>
            <th scope="col">Adet </th>
            <th scope="col">Sil </th>
            <th scope="col">Güncelle </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var sayi = string.Format("{0:n0}", item.Adet);
            <tr>
                <td> @item.Gider.HesapKodu @item.Gider.HesapAd </td>
                <td> @item.KaynakMaliyetEtken.KMEAd </td>
                <td> @item.Faaliyet.FaaliyetAd</td>

                @if (item.Onay==true)
                {
            <td>
                Aktif
            </td>
                }
                else
                {
                    <td> Pasif</td>
                }
           
                <td> @sayi </td>
                <td>@Html.ActionLink("Sil ", "Remove", new { id = item.MaliyetId }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Güncelle", "Details", new { id = item.MaliyetId }, new { @class = "btn btn-success" })</td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Yeni Maliyet Ekle", "Create", "Maliyet")

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<script>
    $('#mytbl').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

</script>
