@using Bitirme.Models
@model List<BirimMaliyet>
@{
    ViewBag.Title = "Index";
}


<table id="mytbl" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Urun</th>

            <th scope="col">Dimmg</th>
            <th scope="col">Dig</th>
            <th scope="col">Dağıtım Ölçü</th>

            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.BM_Id </td>
                <td> @item.Urun.UrunAd</td>

                <td> @item.Dimmg </td>
                <td> @item.Dig </td>
                <td> @item.DagıtımOlcu.DagıtımOlcu_Ad </td>

                <td>@Html.ActionLink("Sil", "Remove", new { id = item.BM_Id }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Güncelleme", "Details", new { id = item.BM_Id }, new { @class = "btn btn-success" })</td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Ekle", "Create", "BirimMaliyeti")
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<script>
    $('#mytbl').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

</script>