
@{
    ViewBag.Title = "Endirekt";
}

@{
    ViewBag.Title = "Index";
}

@using Bitirme.Models
@model List<EndirektUretimMaliyeti>

<table id="mytbl" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Toplam</th>
          
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td> @item.UrunId </td>
                <td> @item.Toplam </td>
           
                <td>@Html.ActionLink("Sil Butonu", "Remove", new { id = item.UrunId }, new { @class = "btn btn-warning" })</td>
                <td>@Html.ActionLink("Güncelleme Butonu", "Details", new { id = item.UrunId }, new { @class = "btn btn-success" })</td>

            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Yeni Ekle", "Create", "BirimMaliyet")
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/b-print-1.3.1/r-2.1.1/rg-1.0.0/datatables.min.js"></script>
<script>
    $('#mytbl').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });

</script>


